<div id="region-selector-popup" style="display:none">
	<div id="region-selector-popup-content" class="region-selector-popup-content" style="display: block;">
		<div class="section">
			<h2>Please Select Your Region</h2>
		</div>
		<div class="section">
			<div class="region-selector-flag-container">
				<span class="region-selector-region" data-id="EU" data-action="SelectRegion">
					<div class="region-selector-region-image">
						<img src="https://cdn.shopify.com/s/files/1/1190/5012/t/5/assets/regionselector-eu.png?4306860640599321054" alt="UK Flag">
					</div>
					<div class="region-selector-region-title">
						<span class="region-selector-region-title-text">&euro; Euro</span>
					</div>
				</span>
				<span class="region-selector-region" data-id="UK" data-action="SelectRegion">
					<div class="region-selector-region-image">
						<img src="https://cdn.shopify.com/s/files/1/1190/5012/t/5/assets/regionselector-uk.png?4306860640599321054" alt="EU Flag">
					</div>
					<div class="region-selector-region-title">
						<span class="region-selector-region-title-text">&pound; Sterling</span>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>